#bg{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: .8;
    /* height: 100vh; */
    z-index: 0;
    background-repeat: no-repeat;
    background-image: url(../img/bg.webp);
    background-size: cover;
    background-position: 50%;
    -webkit-filter: blur(4px);
  }
  .content-main{
    position: relative;
    z-index: 3;
    width: 100%;
    height: 100vh;
  }
  .text-title{
    font-size: 24px;
    font-weight: bold;
    color: #000;
  }
  .item-title{
    font-size: 20px;
    font-weight: bold;
    color: #000;
  }